#login {
    float: initial;
    display: block;
}

#img-after-menu {
    background-image: url("../images/back-img.jpg");
    height: 350px;
    background-size: cover;
}

#img-after-menu-text {
    color: slategrey;
    position: absolute;
    font-size: 100px;
    top: 10%;
    float: left;
    text-align: center;
    width: 100%;
}

#after-menu {
    float: left;
    position: relative;
    width: 100%;
}

#register {
    padding: 50px;
    height: 250px;
    width: 30%;
    margin: 0 auto;
}

#register .row {
    width: 1200px;
}

#login {
    padding: 50px;
    height: 250px;
    width: 30%;
    margin: 0 auto;
}

.post {
    display: inline-block;
    max-width: 350px;
    max-height: 350px;
    margin: 50px;
}

.fb-like {
    position: absolute;
    top: 70px;
    left: 400px;
}

.fb_iframe_widget {
    display: inline-block;
    position: absolute !important;
    margin-top: 285px;
    margin-left: 45%;
}

#menu-items .hidden-when-not-logged-in {
    display: none;
}

#menu-items.logged-in .hidden-when-not-logged-in {
    display: block;
}

#menu-items.logged-in .visible-when-not-logged-in {
    display: none;
}

img {
    width: 350px;
    height: 200px;
}

.post a {
    text-decoration: none
}

.jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0px;
}

.jumbotron-sm {
    padding-top: 24px;
    padding-bottom: 24px;
}

.jumbotron small {
    color: #FFF;
}

.h1 small {
    font-size: 24px;
}