#login {
    float: initial;
    display: block;
}

#img-after-menu {
    background-image: url("../images/back-img.jpg");
    height: 350px;
    background-size: cover;
}

#img-after-menu-text {
    color: slategrey;
    position: absolute;
    font-size: 100px;
    top: 150px;
    left: 600px;
}

#register {
    padding: 150px;
    height: 662px;
    width: 1400px;
}

#login {
    padding: 150px;
    height: 662px;
    width: 1400px;
}

.post {
    display: inline-block;
    max-width: 350px;
    max-height: 350px;
    margin: 50px;
}
.fb-like {
    position: absolute;
    top: 70px;
    left: 400px;
}

#menu-items .hidden-when-not-logged-in {
    display: none;
}

#menu-items.logged-in .hidden-when-not-logged-in {
    display: block;
}

#menu-items.logged-in .visible-when-not-logged-in {
    display: none;
}

img  {
    width : 350px;
    height : 200px;
}

.post a {
    text-decoration:none
}