#login {
    float: initial;
    display: block;
}

#img-after-menu {
    height: 662px;
    width: 1400px;
}

#img-after-menu-text {
    position: absolute;
    font-size: 100px;
    top: 250px;
    left: 400px;
}

#register {
    padding: 150px;
    height: 662px;
    width: 1400px;
}

#login {
    padding: 150px;
    height: 662px;
    width: 1400px;
}

.fb-like {
    position: absolute;
    top: 70px;
    right: 400px;
    /*margin: auto;*/
}