<fieldset>
    <legend>Login</legend>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="tb-login-username">Username:</label>
                <input type="text" class="form-control" id="tb-login-username" />
            </div>
            <div class="form-group">
                <label for="tb-login-pass">Password:</label>
                <input type="password" class="form-control" id="tb-login-pass" />
            </div>
            <button class="btn btn-default" id="btn-login">Login</button>
        </div>
    </div>
</fieldset>