<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Screen</title>
    <style>
        #img-after-menu-text {
            /*position: absolute;*/
            font-size: 100px;
            top: 250px;
            left: 400px;
        }
        #global-header{
            background-color : white ;
            overflow: hidden;
            height : 100px;
        }

         button {
             float : right;
             
        }
        #logImg {
            display: inline-block;
            position: absolute;
            height: 80px;
            width: 160px;
            margin-left: 80px;

            
        }
        .poster{
            width : 380px;
            height: 250px;
            display: inline-block;
            margin-right: 50px;
            margin-left: 50px;
            margin-top: 50px;
            margin-down: 50px;
            
        }
        .poster-card__image img {
            width : 380px;
            height : 250px;

        }

        header button {
            margin-top: 30px;

        }

        #content{
            background-color : white;
        }







    </style>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div id="global-header">
            <div class="major">
                <img src="../logoZod.png" id="logImg" alt="logo" href="">
            </div>
            <div class="minor">
                <div class="profile-login">
                    <button type="button" class="btn-primary">Log In</button>
                </div>
                <div class="profile-signUp">
                    <button type="button" class="btn-primary">Sign Up</button>
                </div>
            </div>
        </div>
    </header>

        <div id="content" >  
            <!--style="background-image:url(../back-img.jpg)"-->
            <!--<img src="../back-img.jpg" id="img-after-menu">-->
            <section class="g-grid l-pad-bot-5 l-sm-pad-bot-3">


                <div class="poster">
                        <a href="http://www.eventbrite.com/e/saturday-night-party-sky-room-tickets-15631775060?aff=ehomecard" class="poster-card__main">
                            <div class="poster-card__header">
                                <div class="poster-card__image" >
                                    <img class="js-poster-image " src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F24621630%2F24250841862%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;s=4477628a4d9547cf62b0339dbe879d39" alt="SATURDAY NIGHT PARTY SKY ROOM tickets">
                                </div>
                                <span class="poster-card__label">Free</span>
                            </div>
                            <div class="poster-card-body">
                                <time class="poster-card__date">29/09/2016
                                </time>
                                <div class="poster-card-title">
                                    SATURDAY NIGHT PARTY SKY ROOM
                                </div>
                                <div class="poster-card__venue">
                                    SKY ROOM , New York
                                </div>
                            </div>
                        </a>
                        <div class="poster-card__footer">
                                <div class="poster-card__actions">
                                    <a class="share-action" href="#" data-eid="15631775060" title="Share">
                                        <button type="button" class="btn-primary">
                                            <span>Share</span>
                                        </button>
                                    </a>
                                    <a class="bookmark" title="Save">
                                        <a class="save-action" href="#" data-eid="15631775060" title="Save">
                                            <button type="button" class="btn-primary">
                                                <span>Save</span>
                                            </button>
                                        </a>
                                    </a>
                                </div>
                        </div>
                </div>

                <div class="poster">
                        <a href="http://www.eventbrite.com/e/saturday-night-party-sky-room-tickets-15631775060?aff=ehomecard" class="poster-card__main">
                            <div class="poster-card__header">
                                <div class="poster-card__image">
                                    <img class="js-poster-image " src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F24621630%2F24250841862%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;s=4477628a4d9547cf62b0339dbe879d39" alt="SATURDAY NIGHT PARTY SKY ROOM tickets">
                                </div>
                                <span class="poster-card__label">Free</span>
                            </div>
                            <div class="poster-card-body">
                                <time class="poster-card__date">29/09/2016
                                </time>
                                <div class="poster-card-title">
                                    SATURDAY NIGHT PARTY SKY ROOM
                                </div>
                                <div class="poster-card__venue">
                                    SKY ROOM , New York
                                </div>
                            </div>
                        </a>
                        <div class="poster-card__footer">
                                <div class="poster-card__actions">
                                    <a class="share-action" href="#" data-eid="15631775060" title="Share">
                                        <button type="button" class="btn-primary">
                                            <span>Share</span>
                                        </button>
                                    </a>
                                    <a class="bookmark" title="Save">
                                        <a class="save-action" href="#" data-eid="15631775060" title="Share">
                                            <button type="button" class="btn-primary">
                                                <span>Save</span>
                                            </button>
                                        </a>
                                    </a>
                                </div>
                        </div>
                </div>

                <div class="poster">
                        <a href="http://www.eventbrite.com/e/saturday-night-party-sky-room-tickets-15631775060?aff=ehomecard" class="poster-card__main">
                            <div class="poster-card__header">
                                <div class="poster-card__image">
                                    <img class="js-poster-image " src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F24621630%2F24250841862%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;s=4477628a4d9547cf62b0339dbe879d39" alt="SATURDAY NIGHT PARTY SKY ROOM tickets">
                                </div>
                                <span class="poster-card__label">Free</span>
                            </div>
                            <div class="poster-card-body">
                                <time class="poster-card__date">29/09/2016
                                </time>
                                <div class="poster-card-title">
                                    SATURDAY NIGHT PARTY SKY ROOM
                                </div>
                                <div class="poster-card__venue">
                                    SKY ROOM , New York
                                </div>
                            </div>
                        </a>
                        <div class="poster-card__footer">
                                <div class="poster-card__actions">
                                    <a class="share-action" href="#" data-eid="15631775060" title="Share">
                                        <button type="button" class="btn-primary">
                                            <span>Share</span>
                                        </button>
                                    </a>
                                    <a class="bookmark" title="Save">
                                        <a class="save-action" href="#" data-eid="15631775060" title="Share">
                                            <button type="button" class="btn-primary">
                                                <span>Save</span>
                                            </button>
                                        </a>
                                    </a>
                                </div>
                        </div>
                </div>

                <div class="poster">
                        <a href="http://www.eventbrite.com/e/saturday-night-party-sky-room-tickets-15631775060?aff=ehomecard" class="poster-card__main">
                            <div class="poster-card__header">
                                <div class="poster-card__image">
                                    <img class="js-poster-image " src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F24621630%2F24250841862%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;s=4477628a4d9547cf62b0339dbe879d39" alt="SATURDAY NIGHT PARTY SKY ROOM tickets">
                                </div>
                                <span class="poster-card__label">Free</span>
                            </div>
                            <div class="poster-card-body">
                                <time class="poster-card__date">29/09/2016
                                </time>
                                <div class="poster-card-title">
                                    SATURDAY NIGHT PARTY SKY ROOM
                                </div>
                                <div class="poster-card__venue">
                                    SKY ROOM , New York
                                </div>
                            </div>
                        </a>
                        <div class="poster-card__footer">
                                <div class="poster-card__actions">
                                    <a class="share-action" href="#" data-eid="15631775060" title="Share">
                                        <button type="button" class="btn-primary">
                                            <span>Share</span>
                                        </button>
                                    </a>
                                    <a class="bookmark" title="Save">
                                        <a class="save-action" href="#" data-eid="15631775060" title="Share">
                                            <button type="button" class="btn-primary">
                                                <span>Save</span>
                                            </button>
                                        </a>
                                    </a>
                                </div>
                        </div>
                </div>

                <div class="poster">
                        <a href="http://www.eventbrite.com/e/saturday-night-party-sky-room-tickets-15631775060?aff=ehomecard" class="poster-card__main">
                            <div class="poster-card__header">
                                <div class="poster-card__image">
                                    <img class="js-poster-image " src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F24621630%2F24250841862%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;s=4477628a4d9547cf62b0339dbe879d39" alt="SATURDAY NIGHT PARTY SKY ROOM tickets">
                                </div>
                                <span class="poster-card__label">Free</span>
                            </div>
                            <div class="poster-card-body">
                                <time class="poster-card__date">29/09/2016
                                </time>
                                <div class="poster-card-title">
                                    SATURDAY NIGHT PARTY SKY ROOM
                                </div>
                                <div class="poster-card__venue">
                                    SKY ROOM , New York
                                </div>
                            </div>
                        </a>
                        <div class="poster-card__footer">
                                <div class="poster-card__actions">
                                    <a class="share-action" href="#" data-eid="15631775060" title="Share">
                                        <button type="button" class="btn-primary">
                                            <span>Share</span>
                                        </button>
                                    </a>
                                    <a class="bookmark" title="Save">
                                        <a class="save-action" href="#" data-eid="15631775060" title="Share">
                                            <button type="button" class="btn-primary">
                                                <span>Save</span>
                                            </button>
                                        </a>
                                    </a>
                                </div>
                        </div>
                </div>

                <div class="poster">
                        <a href="http://www.eventbrite.com/e/saturday-night-party-sky-room-tickets-15631775060?aff=ehomecard" class="poster-card__main">
                            <div class="poster-card__header">
                                <div class="poster-card__image">
                                    <img class="js-poster-image " src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F24621630%2F24250841862%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;s=4477628a4d9547cf62b0339dbe879d39" alt="SATURDAY NIGHT PARTY SKY ROOM tickets">
                                </div>
                                <span class="poster-card__label">Free</span>
                            </div>
                            <div class="poster-card-body">
                                <time class="poster-card__date">29/09/2016
                                </time>
                                <div class="poster-card-title">
                                    SATURDAY NIGHT PARTY SKY ROOM
                                </div>
                                <div class="poster-card__venue">
                                    SKY ROOM , New York
                                </div>
                            </div>
                        </a>
                        <div class="poster-card__footer">
                                <div class="poster-card__actions">
                                    <a class="share-action" href="#" data-eid="15631775060" title="Share">
                                        <button type="button" class="btn-primary">
                                            <span>Share</span>
                                        </button>
                                    </a>
                                    <a class="bookmark" title="Save">
                                        <a class="save-action" href="#" data-eid="15631775060" title="Share">
                                            <button type="button" class="btn-primary">
                                                <span>Save</span>
                                            </button>
                                        </a>
                                    </a>
                                </div>
                        </div>
                </div>
            </section>
        </div>
    
</body>
</html>